{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish_type_detail.name }}
    <a href="{% url 'kitchen:dish-type-delete' pk=dish_type_detail.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen:dish-type-update' pk=dish_type_detail.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <div class="ml-3">
    <h4>Dishes</h4>

    {% for dish in dish_type_detail.dishes.all %}
      <hr>
      <p><strong>Name:</strong> {{ dish.name }}</p>
      <p><strong>Description:</strong> {{ dish.description }}</p>
      <p><strong>Price:</strong> ${{ dish.price }}</p>
      <p class="text-muted"><strong>Id:</strong> {{dish.id}}</p>

    {% empty %}
      <p>No dishes!</p>
    {% endfor %}
  </div>
{% endblock %}
